<div class="container-fluid wrap">
    <div class="row">
            <div class="tittle">
                <a ng-click="backPre()"><img src="../image/back2.png" alt="back" /></a>
                <h2>{{singleCinema.results.cinemaName}}</h2>
            </div>
            <div class=" dateTools hbox">
                <ul class="flex1 day_left">
                    <li class="canTouch" id="ticketHis_preDay" data-com="canTouch" ng-click="prevDay()"><i
                            class="day_choose before">{{datePre}}</i></li>
                </ul>
                <ul id="ticketHisDate" data-com="dateBar,minDate:'2011-01',maxDate:'nextMonth',selectMaxDate:'preSale',dateFmt:'full_day',preSale:'7'">
                <li class="flex1 canTouch numDate posRel" datebaritem="" ui-sref="datePick({date: date,id:id,cinemaName:cinemaName,back:back})">
                    <span showtxt="" id="ticketHis_queryDate" rawdate="{{date}}">{{date}} <i>{{coorDay}}</i></span>
                    <img src="image/date.png"/>
                    <span id="theDay" style="display:none"></span>
                </li>
            </ul>
            <ul class="flex1 day_right">
                <li class="canTouch" id="ticketHis_nextDay" data-com="canTouch" ng-click="nextDay()"><i
                        class="day_choose after" ng-class="isEditable?'gray':''">{{dateNext}}</i></li>
            </ul>
        </div>
        <div id="loadTip">
            <div style="color: #edb948;margin: 0 auto;display: inline-block;" class="la-cog">
                <div></div>
            </div>
            <span style="vertical-align: top;color: #edb948;font-size: 30px;">loading...</span>
        </div>
        <div id="container" style="width:100%;min-height: 700px; transform:translate(0px,-61px);position: relative;">
            <div class="col-md-12">
                <p class="under">上次更新时间:{{singleCinema.results.updateTime | date:'HH:mm'}}</p>
            </div>
            <ul class="realTimeInformation">
                <li>厅数：{{singleCinema.results.hallNum}}</li>
                <li>影片指数：{{singleCinema.results.scheduleIdx}}</li>
                <li>座位数：{{singleCinema.results.seatNum}}</li>
                <li>院线票房排名：{{singleCinema.results.grossOrder}}</li>
            </ul>
            <div id="main" style="height:400px;border-top: 1px solid #e8e8e8"></div>
            <table class="mainbody table table-striped display special" id="example">
                <thead>
                <tr>
                    <th id="singleCinemaFilm">
                        影片名称
                    </th>
                    <th class="singleCinemaFilmOffice">
                        <button class="active" ng-click="orderByFeild = 'grossAll'; reverseSort = !reverseSort" style="padding-left: 15px">票房
                        </button>
                    </th>
                    <th class="singleCinemaFilm">
                        <button class="active" ng-click="orderByFeild = 'grossRate'; reverseSort = !reverseSort">票房占比
                        </button>
                    </th>
                    <th class="singleCinemaFilm">
                        <button class="active" ng-click="orderByFeild = 'scheduleRate'; reverseSort = !reverseSort">
                            排片占比
                        </button>
                    </th>
                    <th class="singleCinemaFilm">
                        <button class="active"
                                ng-click="orderByFeild = 'seatOccupancyRate'; reverseSort = !reverseSort" style="padding-left: 5px">上座率
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr  ng-repeat="li in singleCinema.results.movieList | orderBy:orderByFeild:reverseSort track by $index">
                    <td class="ng-binding singleCinemaName">{{li.movieName}}</td>
                    <td class="text-right padding-right-10px">{{li.grossAll}}元</td>
                    <td class="text-right padding-right-30px">{{li.grossRate}}%</td>
                    <td class="text-right padding-right-30px">{{li.scheduleRate}}%</td>
                    <td class="text-right padding-right-30px">{{li.seatOccupancyRate}}%</td>
                </tr>
                </tbody>
            </table>
            <div class="boxOfficeLoadingShow" ng-show="loadingShow == true">
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
            </div>
            <div class="boxOfficePullDown" ng-show="dataNone == true">
                抱歉，暂无数据
            </div>
        </div>
    </div>
</div>